# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
*.egg-info/

# C++ build
build/
*.o
*.a
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Rust
src/profiler/target/
src/profiler/Cargo.lock

# Colab / Jupyter
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Large model files
*.pth
*.bin
*.safetensors
